@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* 
    Color variables
    */
    --black_900: #000000;
    --black_900_21: #00000021;
    --black_900_3f: #0000003f;
    --black_900_51: #0d0d0d51;
    --black_900_51_01: #0c0c0c51;
    --blue_gray_800: #423c5f;
    --blue_gray_800_01: #40395e;
    --blue_gray_800_02: #383253;
    --blue_gray_800_f2: #393356f2;
    --blue_gray_900: #23213b;
    --blue_gray_900_01: #302c42;
    --blue_gray_900_02: #343045;
    --blue_gray_900_03: #333333;
    --deep_purple_100: #bfaff2;
    --gray_900: #1c1b2d;
    --gray_900_01: #201e2d;
    --indigo_100: #c0b7e7;
    --indigo_100_54: #c0b7e754;
    --indigo_300: #8076af;
    --light_green_900: #327909;
    --pink_900: #fb4aba;
    --pink_a200: #ed37a5;
    --red_900: #810808;
    --white_0: #ffffff;
    --white_1: #ffffff33;
    --white_2: #ffffff66;
    --white_a700_3f: #ffffff3f;
    --white_a700_f2: #fffffff2;

    /* 
    Shadow variables
    */
    --shadow-xs: 0 4px 40px 0 #0000003f;
    --shadow-sm: 0 4px 4px 0 #0000003f;

    /* 
    Border radius variables
    */
    --radius-xs: 1px;
    --radius-sm: 6px;
    --radius-md: 12px;
    --radius-lg: 14px;
    --radius-xl: 24px;
    --radius-2xl: 32px;
    --radius-3xl: 36px;
    --radius-4xl: 40px;
    --radius-5xl: 50px;
    --radius-6xl: 68px;
    --radius-7xl: 72px;
    --radius-8xl: 78px;
    --radius-9xl: 82px;
    --radius-10xl: 98px;
    --radius-11xl: 100px;
    --radius-12xl: 108px;
    --radius-13xl: 150px;


    /* 
    Spacing variables
    */
    --space-xs: 10px;
    --space-sm: 12px;
    --space-md: 14px;
    --space-lg: 16px;
    --space-xl: 18px;
    --space-2xl: 22px;
    --space-3xl: 28px;
    --space-4xl: 40px;
    --space-5xl: 42px;
    --space-6xl: 46px;
    --space-7xl: 64px;
  }
  [type="text"],
  input:where(:not([type])),
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
      appearance: initial;
      background-color: initial;
      border: initial;
      border-width: 0;
  }
}

@layer components {
    /* 
    Container CSS
    */
    .container-xs {
      @apply w-full mx-auto max-w-[1274px];
    }
  }